* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.formulario {
    border-radius: 3px;
    width: calc(100% - 20px);
    max-width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 248, 248);
    margin: auto;
    z-index: 1;
    border-top: aqua 1px;
    min-height: 180px;
}

h2 {
    color: rgb(194, 194, 194);
    margin-top: 20px;
    margin-bottom: 10px;
}

.div-1 input {
    width: 180px;
    height: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    border: 0;
    background-color: rgb(201, 201, 201);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sqr-out {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sqr {
    position: absolute;
    width: 100%;
    transform: rotate(-50deg);
    height: 100%;
    background-color: white;
    right: -40vw;
    bottom: -30vh;
}

.div-1 {
    width: 200px;
    margin: auto;
    margin-top: 10px;
}

#email_para {
    margin-top: 0;
}

.div-2 {
    display: flex;
    justify-content: center;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-2 p {
    margin: auto;
    margin-left: 10px;
    font-size: 85%;
}

.div-2 input {
    margin: auto;
    margin-right: 0;
}

.div-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-4 p {
    margin: 10px;
}

.mudar-fonte {
    font-size: small;
    margin: auto;
}

.rdc {
    cursor: pointer;
}

.div-5 {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

button {
    width: 200px;
    border-radius: 0;
    border: 0;
    background-color: rgb(201, 201, 201);
    padding: 10px;
    font-weight: bolder;
    box-shadow: 0 2px 1px;
    cursor: pointer;
}

.btn_1 {
    margin-top: 20px;
}

#email_errado {
    color: red;
}

.div_parte {
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
}

.div_cadastro {
    border-radius: 3px;
    width: calc(100% - 20px);
    max-width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 248, 248);
    margin: auto;
    z-index: 1;
    border-top: aqua 1px;
    min-height: 400px;
}

.div_cadastro input {
    width: 180px;
    height: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    border: 0;
    background-color: rgb(201, 201, 201);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.div_cadastro button {
    margin-top: 15px;
}

.borda_vermelha {
    border: 1px solid red;
}

.div_cadastro p {
    margin: auto;
    margin-left: 10px;
    font-size: 85%;
}