.formulario {
    background-color: white;
    border: 1px solid #333;
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 2px 2px 25px;
}

input {
    width: 220px;
}

.submit {
    width: 100px;
}